.logo-container {
    text-align: center;
    margin-bottom: -50px; 
}

.logo-container img {
    max-width: 100px;
}

.navbar {
    margin-top: 50px; 
}

.about-us-section {
    padding: 60px 0;
}

.about-us-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.about-us-text {
    padding: 20px;}

.contact-us-section {
    background-color:rgba(104, 104, 104, 0.303); 
    padding: 60px 0;
}
